@import './src/assets/styles/colors';

.button {
  background: $color-blue-button;
  color: $color-white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 3px 2px 0 $color-blue-button-shadow;
  user-select: none;
  cursor: pointer;

  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }

  &__send {
    background: $color-green-button;
    border-radius: 100%;
  }
}
